@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Noto+Serif&family=Noto+Serif+Display:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  color: #383838;
  height: auto;
  background: #fcf8ed;
}

#landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#menu {
  position: absolute;
  top: 0;
}
#landing h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 20vw;
  font-weight: 400;
  letter-spacing: -3px;
  line-height: 0.3;
  text-align: center;
}
#landing span {
  font-size: 4.5vw;
  font-family: "Noto Serif Display", serif;
  letter-spacing: 0;
}

#gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Noto Serif Display", serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-shadow: 0 0 7px #383838;
  color: white;
}
.img-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-container1 {
  background: center / cover no-repeat url(kimson-doan-HD8KlyWRYYM-unsplash.jpg);
  height: 50%;
}
.img-container2 {
  background: center / cover no-repeat url(robert-bagramov-_4srssfb-OY-unsplash.jpg);
  height: 50%;
}

#about {
  padding: 16% 10%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#about span {
  position: absolute;
  top: 50%;
  left: -15%;
  font-size: 44vw;
  letter-spacing: -5px;
  line-height: 0;
  z-index: -1;
  font-family: "Noto Serif Display", serif;
  color: #f0f0f0;
}
#about p {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.exhibitions {
  padding: 5rem 1rem;
  background: #201f1e;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5;
}
.exhibitions h3 {
  font-family: "Noto Serif Display", serif;
  margin-bottom: 1rem;
}
.exhibitions ul {
  list-style-type: none;
}

#virtual {
  position: relative;
  text-align: center;
}
#virtual img {
  width: 100%;
  display: block;
}
#virtual h3 {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0;
  text-shadow: 0px 0px 10px #3d3d3d;
}

#vertical {
  border-left: 1px solid white;
  height: 10vh;
  position: absolute;
  left: 50%;
}

#nft {
  background: #201f1e;
  padding: 5rem 3rem;
  text-align: center;
}

#nft h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}
#nft-links {
  display: flex;
  justify-content: space-evenly;
}
#nft a {
  color: white;
  text-decoration: none;
  line-height: 2;
}
#nft h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}
#nft-scl {
  display: flex;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 3rem 2rem;
}
#contact h3 {
  font-size: 2rem;
  font-family: 'Noto Serif Display', serif;
}
#contact a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 1.4rem;
}
#social {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
#social a {
  font-size: 2rem;
}

/*  > 900px  */
@media (min-width: 900px) {
  #landing h1 {
    font-size: 12rem;
    line-height: 0.25;
  }
  #landing span {
    font-size: 2.5rem;
  }
  #about {
    padding: 16% 20%;
  }
  #about span {
    letter-spacing: -15px;
    color: #f0f0f0;
  }
  .exhibitions {
    font-size: 1.5rem;
  }
}
