@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Noto+Serif:wght@300;400&family=Noto+Serif+Display:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif", serif;
  color: #383838;
  height: auto;
  background: #f5f5f5;
  position: relative;
}
main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.scroll {
  scroll-snap-align: start;
}

.btn {
  position: absolute;
  top: 25px;
  z-index: 2;
  display: flex;
  width: 35px;
  height: 20px;
}
.btn span {
  width: 35px;
  height: 2px;
  background: rgb(54, 54, 54);
  display: flex;
  position: absolute;
  transition: .3s;
}
.btn span:nth-child(1) {
  top: 20%;
}
.btn span:nth-child(2) {
  top: 70%;
}
.btn.is-active span {
  background: #f5f5f5;
}
.btn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}
.btn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

.menu {
  background: #01161E;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
}
.menu.is-active {
  opacity: 1;
  visibility: visible;
}
.menu_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
  font-weight: 500;
}
.menu_item:not(:last-child) {
  margin-bottom: 30px;
}
.menu_link {
  position: relative;
  display: inline-block;
  font-size: 2.7rem;
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
}
.menu_link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease;
  background: rgb(222, 222, 222);
}
.menu_link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeIn linear 1s;
}
#landing h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 20vw;
  font-weight: 400;
  letter-spacing: -5px;
  text-align: center;
  color: #01161E;
}
#landing h1 span {
  color: #022A3C;
}
#landing p {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.1;
  font-size: 5.6vw;
  font-family: "Noto Serif", serif;
  letter-spacing: -1px;
}

#gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Noto Serif Display", serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-shadow: 0 0 3px #383838;
  color: white;
  overflow: hidden;
}
.img-cont, .img-cont a {
  transition: all .5s ease;
}
.img-cont:hover {
  box-shadow: inset 0 0 0 15px #f5f5f5;
}
.img-cont:hover a {
  transform: scale(1.15);
  overflow: hidden;
}
.img-cont a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: white;
}
.img-container1 {
  background: center / cover no-repeat url(portrait.jpg);
  height: 50%;
}
.img-container2 {
  background: center / cover no-repeat url(motion.jpg);
  height: 50%;
}

#about {
  height: auto;
  padding: 12% 10%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
#about span {
  position: absolute;
  top: 50%;
  left: -15%;
  font-size: 44vw;
  letter-spacing: -5px;
  line-height: 0;
  z-index: -1;
  font-family: "Noto Serif Display", serif;
  color: #ebebeb;
}
#about p {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  color: #01161E;
}

.work {
  min-height: 100vh;
  background: #01161E;
  color: #f5f5f5;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.work p {
  margin-top: 1.2rem;
  font-family: 'Lato';
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
  color: white;
}
.work h2 {
  font-size: 1.9rem;
  font-family: 'Noto Serif Display';
  font-weight: 400;
  color: white;
  margin: 3rem auto 2rem;
}
.work h3 {
  margin-top: 3rem;
  font-weight: 300;
}
.work a {
  margin-top: 2.3rem;
  color: white;
  font-size: 1.3rem;
  font-family: 'Noto Serif Display', sans-serif;
}
.work a:hover {
  text-decoration: none;
}
.clients {
  margin: 1rem auto 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
}
.clients img {
  width: 15rem;
  transition: all 300ms ease;
  cursor: pointer;
}
.clients img:hover {
  scale: 0.9;
}

.contact {
  position: relative;
  height: 100vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #01161E;
}
.contact h1 {
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 400;
  color: #3a3f42;
}

form {
  margin: 3rem auto;
  width: 80%;
}
form ul {
  list-style-type: none;
}
form li+li {
  margin-top: 1em;
}
input,
textarea {
  font: 1rem 'Lato', sans-serif;
  width: 100%;
  height: 2.3rem;
  box-sizing: border-box;
  background: #f5f5f5;
  border: 0;
  border-bottom: 1px solid rgb(201, 201, 201);
  transition: all 500ms ease;
}
textarea {
  height: 10rem;
  resize: none;
  overflow: auto;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: rgb(54, 54, 54);
}
form button {
  width: 100%;
  padding: 9px;
  background: transparent;
  border: 1px solid rgb(85, 85, 85);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 400ms ease;
}
form button:hover {
  background: #01161E;
  color: #f5f5f5;
  border: 1px solid #01161E;
}

.social {
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: #3a3f42;
}
.social h2 {
  font-weight: 400;
  font-size: 1.7rem;
}
.social ul {
  display: flex;
  width: 50%;
  margin-top: 2rem;
  list-style-type: none;
  justify-content: space-evenly;
}
.social ul li {
  width: 2.4rem;
  transition: all 300ms ease;
}
.social ul li img {
  filter: invert(0.2);
}
.social ul li:hover {
  scale: 1.25;
}

footer {
  padding: 5px;
  height: 2rem;
  width: 100%;
  background: #01161E;
  text-align: center;
}
footer p {
  color: #f5f5f5;
}

/* tableti */
@media (min-width: 750px) {
  #landing p {
    font-size: 4vw;
    line-height: 1;
    letter-spacing: -1px;
  }
  #gallery {
    flex-direction: row;
  }

  .img-cont {
    width: 50%;
    height: auto;
  }
  form .button {
    width: 50%;
    margin: 2rem auto 0;
  }
}

/*  > 900px  */
@media (min-width: 900px) {
  #landing h1 {
    font-size: 10rem;
  }
  #landing p {
    font-size: 2rem;
  }

  .img-cont:hover {
    box-shadow: inset 0 0 0 30px #f5f5f5;
  }
  .img-cont:hover a {
    transform: scale(1.07);
  }
  #gallery h2 {
    font-size: 5vw;
  }

  #about {
    padding: 10% 20%;
  }
  #about p {
    font-size: 1.6rem;
    line-height: 1.8;
  }
  #about span {
    top: 35%;
    letter-spacing: -15px;
  }

  .work {
    padding: 0 20%;
  }

  .contact {
    width: 70vw;
    margin: 0 auto;
  }
  form .button {
    width: 70%;
    margin: 2rem auto 0;
  }
}
@media (min-width: 1200px) {
  .contact {
    width: 40vw;
  }
  form .button {
    width: 50%;
  }
  #about {
    overflow: hidden;
  }
  #about span {
    top: 50%;
  }
}